<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">
</head>
<body>
    <h1>Курсовая</h1>
    <ul>
        {% for product in products %}
        <li>{{ product.name }} - {{ product.price }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'sale_create' %}">Add Sale</a>
    <a href="{% url 'sales_list' %}">Add Product</a>
    <a href="{% url 'sales_report' %}">View Sales</a>
</body>
</html>
