<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Sales Report</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Sales Report</h1>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity Sold</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in sales_summary %}
            <tr>
                <td>{{ sale.product__name }}</td>
                <td>{{ sale.total_quantity_sold }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Total Quantity Sold: {{ total_sales }}</h2>
    <h2>Total Revenue: {{ total_revenue }}</h2>
    <a href="{% url 'sale_create' %}">Add Sale</a>
    <a href="{% url 'index' %}">Back to Products</a>
</body>
</html>

